.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  //   align-items: center;
  font-family: "Reenie Beanie";
  position: relative;
}
.title {
  font-size: 1.4em;
}
.work_skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
}
.home_skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20px;
}
